h1 {
    font-size: 50px;
}
.main h1 {
    margin-left: 3vw;
}

.input {
    margin-left: 5vw;
    font-size: 18px;
}

.input textarea{
    width: 90vw;
    height: 20vh;
    margin-top: 33vh;
    background-color: darkgray;
    border-color: black;
    border-radius: 10px;
}

.input button {
    padding:5px;
    margin-top: 2vh;
    font-size: 18px;
}