* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  padding: 20px;
}

.intro-card {
  max-width: 750px;
  margin-right: 50px; 
}

.intro-words {
  text-align: left;
  font-weight: bold;
  margin-bottom: 100px;
  font-size: 20px;
}

.card-container {
  max-width: 2000px;
}

.card-content {
  padding: 25px;
  color: #9dd66e;
  font-size: 35px;
  text-align: right;
  margin-left: auto; 
}
